.container{
    margin: 0 50px;
}


@media screen and (max-width: 800px) {

    .container{
        /* border: 3px solid red; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}