.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    margin: 40px 0 0 0;
}

.footerTitle{
    color: #C7C7C7;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
    
    @media screen and (max-width: 800px) {

        .footer{
            width: 100%;
        }
    }