.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerTitle{
    color: #C7C7C7;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}